@mixin content_dark {

  .content {
  
    .list {
      ul {
        li {
          a {
            color: $fg-color-dark;
            &:hover,
            &:focus {
              color: $link-color-dark;
            }
          }
          .title {
            color: $fg-color-dark;
            &:hover,
            &:focus {
              color: $link-color-dark;
            }
          }
        }
      }
    }
    .toc {

      ul {
        li {
          a {
            color: $fg-color-dark;
          }
        }
      }
    }

    .post {
      .post-meta {
        .tags a {
          color: $fg-color-dark;
          &:hover,
          &:focus {
            color: $link-color;
          }
        }
        .categories a {
          color: $fg-color-dark;
          &:hover,
          &:focus {
            color: $link-color;
          }
        }
      }
      .see-also {
        a {
          color: $fg-color-dark;
          &:hover,
          &:focus {
            color: $link-color;
          }
        }
      }
    }

    .centered {
      .about {
        ul {
          li {
            a {
              color: $fg-color-dark;
              &:hover,
              &:focus {
                color: $link-color-dark;
              }
            }
          }
        }
      }
    }
    .avatar img {
      filter: invert(80%);
    }
  }

}

body.colorscheme-dark {
  @include content_dark()
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include content_dark()
  }
}
